{{ pagination.total_results }} {{ 'results found for'|t }} {{ craft.app.request.getParam('q') }}.
{% set currentPage =  craft.app.request.getParam('page') %}

{% if currentPage != 1 %}
    <a href="{{ url('/admin/splashing-images/search', { 'q' : craft.app.request.getParam('q'), 'page' : '1'}) }}">{{ 'First'|t }}</a> |
    <a href="{{ url('/admin/splashing-images/search', { 'q' : craft.app.request.getParam('q'), 'page' : currentPage-1}) }}">{{ 'Previous'|t }}</a> |
{% endif %}
{{ 'Page'|t }} {{ currentPage }}
{% if currentPage != results.pagination.total_pages %}
    | <a href="{{ url('/admin/splashing-images/search', { 'q' : craft.app.request.getParam('q'), 'page' : currentPage+1}) }}">{{ 'Next'|t }}</a> |
    <a href="{{ url('/admin/splashing-images/search', { 'q' : craft.app.request.getParam('q'), 'page' : results.pagination.total_pages }) }}">{{ 'Last'|t }}</a>
{% endif %}