<div style="padding-right: 20px;">
    {% if not hasUser %}
        {% set oauthUrl = 'https://www.studioespresso.co/craft-unsplash?redirect=' ~ url('splashing-images/oauth') %}
        <a href="{{ oauthUrl }}">{{ 'Sign in with Unsplash'|t }}</a>
    {% else %}
        {% set disconnectUrl = url('splashing-images/oauth/disconnect') %}
        {{ 'Signed as {user}'|t({user: hasUser.name}) }} - <a href="{{ disconnectUrl }}">{{ 'Disconnect account'|t }}</a>
    {% endif %}
</div>
<form action="{{ url('splashing-images/find') }}" method="post">
    {{ csrfInput() }}
    <div class="flex-grow texticon search icon clearable">
        <input type="text" class="text" name="query" placeholder="Search"
               {% if craft.app.request.get('q') is defined %}value="{{ craft.app.request.get('q') }}"{% endif %}>
        <input type="hidden" name="page" value="1">
        <input type="hidden" name="redirect" value="{{ url('splashing-images/search') }}">
        <input type="submit" class="btn submit search-splashing" value="Search">
    </div>
</form>
